<!DOCTYPE html>
<html lang="en">
<head>
    <title>farme-check</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Tela de Produtos</h2>
    <form action="/efetuar-cadastro-produto" method="post">
        <div class="form-group">
            <label for="nome-produto">Digite o nome do remédio:</label>
            <input type="nome" class="form-control" id="nome-produto" placeholder="Enter produto" name="nome">
        </div>
        <div class="form-group">
            <label for="preco">Preço:</label>
            <input type="number" class="form-control" id="preco" placeholder="Enter preco" name="preco">
        </div>
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="descricao" class="form-control" id="descricao" placeholder="Enter descricao" name="descricao">
        </div>
        <div class="form-group">
            <label for="fornecedor">Fornecedor:</label>
            <input type="fornecedor" class="form-control" id="fornecedor" placeholder="Enter fornecedor" name="fornecedor">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

</body>
</html>