<!DOCTYPE html>
<html lang="en">
<head>
    <title>Farme Check</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container center">
    <center> <h2 >Escolha uma Opção</h2></center>
    <form action="/action_page.php">
        <p><a class="link-opacity-10" href="cadastro-medicamento">Cadrastro de Medicamento</a></p>
        <p><a class="link-opacity-25" href="consulta-medicamento">Consulta de Medicamento</a></p>
    </form>
</div>

</body>
</html>